html {
    font-size: 12px;
    background: url('images/cherryBlossom.jpeg') bottom center;
    background-size: cover;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .5rem solid 302728;
    border-radius: .6rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: #F0EEFB;
    background: rgba(89, 36, 38, 0.6);
    text-shadow: 0 0 .5rem 302728;
}

.playing {
    transform: scale(1.1);
    border-color: #9CACAB;
    box-shadow: 0 0 1rem #9CACAB;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #9CACAB;
}